
*.log
TeamApolloSpaceShip/Saved/Config/CrashReportClient/UECC-Windows-CCEBB0FC4C5BBF4E1C46EDB18A7CC42E/CrashReportClient.ini
TeamApolloSpaceShip/Saved/Config/CrashReportClient/UECC-Windows-50B9DF6A42C2C9CFC9DE9BA5C0C2EFB0/CrashReportClient.ini
TeamApolloSpaceShip/Saved/Logs/TeamApolloSpaceShip.log
